.title {
    display: inline-block;
    color: #008cba
}

.title > .fa {
    font-size: 24px;
    margin-left: 3px;
}

.glyphicon-flag {
    color: lightcoral;
    font-size: 14px;
    margin-top: 30%;
}

.even {
    background-color: white;
}

.odd {
    background-color: #f4f4f4;
}

.arrows {
    font-size: 20px;
}

#top-arrow {
    padding-left: 2px;
}

#score {
    display: inline-block;
    font-size: 18px;
    padding-left: 6px;
    margin-top: -20px;
}

.submit-main {
    padding: 5px 40px;
    margin-top: 20px;
}

.search-filters {
    /*display: inline-block;*/
    /*padding-top: 35px;*/
    /*padding-bottom: 5px;*/
    /*margin-top: 20px;*/
    /*padding-right: 5%;*/
    padding-left: 5%;
}

.accordion {
    cursor: pointer;
}

.color0 {
    color: Black;
}

.color1 {
    color: Blue;
}

.color2 {
    color: #1cac19;
}

.color3 {
    color: lightcoral;
}

.create-div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.create-div > input {
    width: 182px;
}