#page-layout {
    width: 100%;
    margin: 0;
}

.top-row {
    height: 10vh;
    border-bottom: 1px solid #43ac6a;
    border-right: 1px solid #d3d3d3;
}

.main-panel {
    height: 90vh;
    border-right: 1px solid #d3d3d3;
    overflow-y: scroll;
    overflow-x: hidden;
}

.left-panel {
    height: 90vh;
    border-right: 1px solid #d3d3d3;
}

.angular-panel {
    height: 100vh;
    /*overflow-y: hidden;*/
}
