#logged_id {
    display: none;
}

.title {
    margin-top: 15px;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

.profile-photo {
    margin-right: -14px;
    margin-left: 15px;
    border: 1px solid #43ac6a;
    height: 50px
}

.profile-photo-small {
    margin-top: -53px;
    border: 1px solid #43ac6a;
    height: 50px;
}

.user-xs {
    text-align: right;
    margin-right: 60px;
    margin-top: 20px;
}

.user-info {
    width: 100%;
    font-size: 13px;
    text-align: left;
}

.user-actions {
    margin-left: auto;
    margin-right: auto;
}

.user-actions {
    margin-top: 22px;
}

.user-actions > a {
    padding-left: 13px;
    font-size: 17px;
}
