#logged_id {
    display: none;
}

input {
    width: 350px;
}

.profile-photo {
    /*display: block;*/
    margin-right: -14px;
    margin-left: 15px;
    margin-top: -10px;
    /*float: right;*/
    border: 1px solid #43ac6a;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-right: 10%;*/
    /*width: 250px;*/
    height: 50px
}

.user-info {
    width: 100%;
    font-size: 13px;
    text-align: left;
}

.user-actions > a {
    padding-left: 22px;
    font-size: 20px;
}

tr {
    font-size: 12px;
    height: 25px;
    border-bottom: 1px dashed #d3d3d3;
}

th {
    width: 90px;
}