Django==1.9.4
Facebook==0.0
Pillow==2.7.0
PyJWT==1.4.0
Twisted==16.0.0
asgiref==0.9.1
autobahn==0.13.0
channels==0.9.5
daphne==0.9.3
djangorestframework==3.3.3
djangular==0.2.7
facebook-sdk==0.4.0
oauthlib==0.7.2
psycopg2==2.5.4
python-openid==2.2.5
requests==2.5.1
requests-oauthlib==0.4.2
six==1.10.0
txaio==2.2.2
wsgiref==0.1.2
zope.interface==4.1.3
