<div class="row">
    <div class="col-sm-3 col-xs-9 top-row">
        <h2 class="title">Peer Post <i class="fa fa-paper-plane"></i></h2>
    </div>
    <div class="col-md-6 hidden-sm top-row">
        <p></p>
    </div>
    <div class="col-sm-3 col-xs-3 top-row">
        <button class="btn btn-success pull-right" id="submit-link-button" ng-click="createNewLink=!createNewLink">Submit a link</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 left-panel hidden-xs">
        <br>
        <h4>All groups:</h4>
        <div ng-repeat="group in allGroups">
            <hr>
            <h4>{{ group.title }}</h4>
            <h6>{{ group.description }}</h6>
        </div>
        <button ng-click="createNewGroup=!createNewGroup">Create new</button>

        <div ng-show="createNewGroup">
            <input type="text" ng-model="newGroupName" placeholder="Group name"/>
            <input type="text" ng-model="newGroupDesc" placeholder="Group Description"/>
            <button ng-click="newGroup()">New group</button>
        </div>
    </div>
    <div class="col-sm-9 col-xs-12 main-panel">
        <div ng-show="createNewLink">
            <h4>New link:</h4>
            <input type="text" ng-model="newLinkTitle" placeholder="Title"/>
            <input type="text" ng-model="newLinkUrl" placeholder="Url"/>
            <input type="text" ng-model="newLinkDesc" placeholder="Description"/>
            <select ng-model="newLinkGroup" ng-options="group as group.title for group in allGroups"><option value="">Choose group</option></select>
            <button ng-click="newLink()">Submit</button>
        </div>
        <div ng-repeat="link in allLinks">
            <div class="link-info" ng-class-odd="'odd'" ng-class-even="'even'">
                <div class="row">
                    <div class="col-xs-1">
                        <div class="score-div">
                            <span class="glyphicon glyphicon-chevron-up arrows" id="top-arrow" ng-click="upVote(link)"></span>
                            <span id="score">{{ link.score }}</span>
                            <span class="glyphicon glyphicon-chevron-down arrows" ng-click="downVote(link)"></span>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <h4><a href="#">{{ link.title }}</a> <span class="small">({{ link.url }})</span></h4>
                        <h5>{{ link.description }}</h5>
                        <h6 class="small">Posted by <i>{{ link.user_name }}</i> to <b>{{ link.group_name }}</b> on {{ link.created_at | date:'MM-dd-yyyy' }} | {{ link.comments.length }} comments</h6>
                    </div>
                    <div class="col-xs-2">
                        <span class="glyphicon glyphicon-flag" ng-click="flag(link)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
